$colors: (
  primary: #ffc100,
  accent: #ff8200,
  "white": #ffffff,
  gray100: #f9f9fb,
  gray200: #eeeeee,
  gray300: #dddddd,
  gray400: #aaaaaa,
  gray500: #999999,
  gray600: #474847,
  gray700: #3d3e3d,
  "black": #000000,
  danger: #ff0000
);

/*
  Allows you to use `color: color(primary);` in your stylesheet
*/
@function color($color) {
  @return map-get($map: $colors, $key: $color);
}
