@import "./assets/scss/config";

// ABSTRACT
@import "./assets/scss/abstract/colors";
@import "./assets/scss/abstract/rem-calc";

// BASE
@import "./assets/scss/base/layout";

// COMPONENTS
@import "./assets/scss/components/inputs";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/forms";

// HELPERS
@import "./assets/scss/helpers/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.block {
  display: block;
  width: 100%;
}
